@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900");

text {
  fill: #35322a;
  filter: url("#money");
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 80px;
  font-weight: 900;
}
